torch==1.7
numpy==1.17  
opencv-python
torchvision
scipy
tqdm

#basicsr requirements
addict
future
lmdb
numpy
opencv-python
Pillow
pyyaml
requests
scikit-image
scipy
tb-nightly
torch>=1.7
torchvision
tqdm
yapf

basicsr
facexlib
lmdb
pyyaml
tb-nightly
yapf
